---

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
const pagestitle = "我的 Astro 站点";
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>{pagestitle}</h1>
    <Navigation />
  </body>
</html>
