---
import { ViewTransitions } from 'astro:transitions';
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import Loading from '../components/Loading.astro';
import { any } from 'astro/zod';
import BackgroundCarousel from '../components/Background_Carousel.astro';
const pageTitle = "苹果喵喵Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
  <div class="grid-container">
    <div class="item1">Header</div>
    <div class="item2">Menu</div>
    <div class="item3">Main</div>  
    <div class="item4">Right</div>
  </div>
  <ViewTransitions />
</BaseLayout>
<style>
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }


.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'menu '
    'right';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
</style>
