---
const { title, url } = Astro.props;
---
<li><a href={url} class="blog-article-style">{title}</a></li>
<style>
.blog-article-style{
    text-decoration: none;
    border-radius: 20%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-weight: bold;
}

.blog-article-style:hover{


}
</style>