---
import Social from './Social.astro';
---

<footer>
    
    <p> (๑¯ω¯๑)PingGuoMiaoMiao的
      <Social platform="github" username="PingGuoMiaoMiao" />
    </p>
</footer>
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      justify-content: center;
    }
  </style>