---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BackgroundCarousel from "../components/Background_Carousel.astro";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";

const { pageTitle } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
    <slot name="head" />
  </head>
  <body>
    <BackgroundCarousel />
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    position: relative;
  }
  
  .container {
    width: min(960px, 92%);
    margin: 0 auto;
    padding: 2rem 1rem;
    position: relative;
    z-index: 1;
  }
</style>
